/*   */

.navbar-brand img{max-width: 100px;}

#boton1{color:#25a342}



/* Estilo de los titulos  */


/* Estilo de carousel  */

.carousel-item
{ 
    background-color: rgba(black);  
    background-size: cover;
    background-position: center center;  
    opacity: .8;
}

.col
{
        width: 100px;
        height: 500px;
        margin: 80px;
}
